@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
  font-family: "PT Sans Narrow", sans-serif;
  color: #393e46;;
}

body,
body > div#root {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
